---

---
<section>
  <h4>Suscríbete a mis historias!</h4>
  <p>Te enviaré un correo unicamente cuando tenga una nueva historia que contarte.</p>

  <form id="subscriptionForm" class="sm:relative">
    <label for="inputEmail">
      <input class="w-full  px-6 py-4" placeholder="mail@example.com" type="email" id="inputEmail" name="email" required>
    </label>
    <button class=" rounded-lg border-none text-white w-full px-6 py-4 sm:absolute sm:w-1/4 sm:right-0 sm:py-3" type="submit" id="sendNewSubscriptionForm">Suscribirme</button>
  </form>
</section>

<script src="../../public/insertNewSubscriber.js"></script>

<style>
  form {
    width: 100%;
    margin: 20px auto 80px;
    display: flex;
    flex-direction: column;
  }
  label{
    width: 100%;
    margin-bottom: 10px;
  }
  input {
    border: none;
    border-radius: 8px;
    &:focus {
      outline-color: var(--accent-dark);
    }
  }
  button {
    background-color: var(--accent-dark);
}
</style>